<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hubungi Kami</title>
</head>
<body>
    <p>Nama</p>
    <p>Email</p>
    <p>Pesan</p>
    <button type="button">Kirim</button>
    
</body>
</html>